:root {
	--purple:#782B90;
	--white:#fff;
	--lightGray:#EEEEEE;
	--gray:#777777;
	--darkGray:#333333;
	--black:#000;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--lightGray);
}

#container {
	margin: auto;
	width: 70%;
}

#title {
	text-align: center;
	font-size: 63px;
	color: var(--black);
	margin-bottom: 10px;
}
.titlePurple {
	color: var(--purple);
}

#date {
	text-align: right;
	font-size: 20px;
	margin-bottom: 10px;
	color: var(--darkGray);
}

#info {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

#info td {
	font-size: 20px;
	width: 50%;
	color: var(--darkGray);
}

.infoVar {
	font-size: 50px;
	vertical-align: middle;
	color: var(--purple);
}

#park {
	position:relative;
	background-image: url('img/ground.png');
	width: 950px;
	height: 527px;
	margin: auto;
}

#stateA1 {
	position:absolute; 
	left:16px; 
	top:49px;
}

#stateA2 {
	position:absolute; 
	left:16px; 
	top:177px;
}

#stateA3 {
	position:absolute; 
	left:16px; 
	top:305px;
}

#stateA4 {
	position:absolute; 
	left:16px; 
	top:433px;
}

#stateB1 {
	position:absolute; 
	right:16px; 
	top:49px;
}

#stateB2 {
	position:absolute; 
	right:16px; 
	top:177px;
}

#stateB3 {
	position:absolute; 
	right:16px; 
	top:305px;
}

#stateB4 {
	position:absolute; 
	right:16px; 
	top:433px;
}
				
#carA1 {
	position:absolute; 
	left:145px; 
	top:25px;
}

#carA2 {
	position:absolute; 
	left:145px; 
	top:155px;
}

#carA3 {
	position:absolute; 
	left:145px; 
	top:285px;
}

#carA4 {
	position:absolute; 
	left:145px; 
	top:415px;
}
				
#carB1 {
	position:absolute; 
	right:145px; 
	top:25px;
}

#carB2 {
	position:absolute; 
	right:145px; 
	top:155px;
}

#carB3 {
	position:absolute; 
	right:145px; 
	top:285px;
}

#carB4 {
	position:absolute; 
	right:145px; 
	top:415px;
}

#lightSX1 {
	position:absolute;
	left:325px;
	top:-7px;
}

#lightSX2 {
	position:absolute;
	left:325px;
	top:243px;
}

#lightSX3 {
	position:absolute;
	left:325px;
	top:501px;
}

#lightDX1 {
	position:absolute;
	right:325px;
	top:-7px;
}

#lightDX2 {
	position:absolute;
	right:325px;
	top:243px;
}

#lightDX3 {
	position:absolute;
	right:325px;
	top:501px;
}

.car {
	visibility: hidden;
}

#copyright {
	color: var(--gray);
	position: absolute;
	bottom: 0px;
	right: 5px;
	text-align: right;
	font-size: 13px;
}